$primary-color: #06c8fe;
$secondary-color: #1fdf8f;
$primary-text: #142331;
$secondary-text: #45535f;
$stroke: #dfe4ea;
$dark-color: #0130a2;
$white-color: #ffffff;

$light-gray: #f6f7f9;
$color-error: #ed3131;

$font-family: "Gabarito", sans-serif;
$font-size: 16px;

$font-weight-300: 300 !default;
$font-weight-400: 400 !default;
$font-weight-500: 500 !default;
$font-weight-600: 600 !default;
$font-weight-700: 700 !default;
$font-weight-700: 800 !default;
$extra-large-font: 42px;
$large-font: 38px;

$break-xsmall: 640px;
$break-small: 768px;
$break-medium: 992px;
$break-1024: 1024px;
$break-large: 1200px;
$break-1280: 1280px;
$break-xlarge: 1440px;
